.flex-right{
    display: flex;
    justify-content:flex-end;
}

.hover-show {
    visibility: hidden;
}

.el-table__row:hover .hover-show, .el-tree-node__content:hover .hover-show {
    visibility: visible;
    cursor: pointer;
    /*font-size: 18px;*/
}
.hover-show__parent:hover .hover-show {
    visibility: visible;
}
.table-row-actions .fa{
    /*margin: 10px 0;*/
   /*display: block;*/
}

.hide-text{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all;  /* 内容自动换行 */
}