.flex-right{
    display: flex;
    justify-content:flex-end;
}

.hover-show {
    visibility: hidden;
}

.el-table__row:hover .hover-show {
    visibility: visible;
    cursor: pointer;
    /*font-size: 18px;*/
}
.hover-show__parent:hover .hover-show {
    visibility: visible;
}
.table-row-actions .fa{
    /*margin: 10px 0;*/
   /*display: block;*/
}